.eventDetails {
  background-color: rgb(39, 39, 39);
  color: white;
  width: 350px;
  /* position: absolute; */
  border-radius: 2px;
  padding: 20px;
  height: 150px;
}

.eventDetails > h3 {
  font-size: 15px;
}
.eventDetails h4 {
  font-style: italic;
  font-weight: 100;
  color: gray;
}
